/* body {
    height: 100vh;
    overflow-y: hidden;
    padding-right: 15px; 
  } */

body {
    background-color: #EDEDED;
    margin: 0px;
}

  .frozen {
    height: 100vh;
    overflow-y: hidden; 
  }


  .body-blank {
    background-color: purple;
    min-height: 500px;
  }
